    <style>
        *{color:white ;}
        label{font-size: 1.5rem;color: white;}
        .wrap {text-align: center;}
    </style>
    <div class="container" style="width:100%">
        {% if request.GET.next %}
           <p style="font-size:1rem;margin-bottom: -40px" class="center-align">Please log in first!</p>
        {% endif %}
        <form class="site-form" action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
                 {% for field in form %}
                     <div style="font-size: 1.1rem">
                         <p class="center-align">{{ field.label_tag }}</p><br>
                         <p style="margin-top: -20px">{{ field }}</p>
                     </div>
                 {% endfor %}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% endif %}
            <div class="wrap">
                <button type="submit" value="Login" class="btn waves-light">
                    <span style="font-family: 'Harry Potter';">Login</span>
                </button>
            </div>
        </form>
    <p style="font-size:1.5rem" class="center-align">Not got an account? <a href=# id="signupload" style="color:#26a69a">Sign Up</a></p>
    </div>
    <script>
        $('#signupload').click(function () {$('#one').load("{% url 'accounts:signup' %}");});
    </script>
