    <style>
        *{color:white ;}
        label{font-size: 1.5rem;color: white;}
        .wrap {text-align: center;}
    </style>
    <div class="container" style="width:100%;">
        <form class="site-form" action="{% url 'accounts:signup' %}" method="post">
            {% csrf_token %}
                 {% for field in form %}
                     <div style="font-size: 1.1rem">
                         <p class="center-align">{{ field.label_tag }}</p><br>
                         <p style="margin-top: -40px">{{ field }}</p>
                     </div>
                 {% endfor %}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% endif %}
            <div class="wrap">
                <button type="submit" value="Signup" class="btn waves-light">
                    <span style="font-family: 'Harry Potter';">Signup</span>
                </button>
            </div>
        </form>
    </div>
