{% extends 'skeleton.html' %}
{% block content %}
<style>
        *{
            color:white ;
        }
        label{
            font-size: 1.5rem;
            color: white;
        }
        .why{
            background: none;
            color: #fff;
            cursor: pointer;
            font-family: "Harry Potter",sans-serif;
            font-size: 2rem;
            border-width: 2px;
            border-color: white;
            padding: 15px;
        }
        #id_image{font-family: "Harry Potter";}
</style>
    <div class="container" id="terms1">
    <br><br><br>
    <p style="font-size:2rem;margin-bottom: -40px" class="center-align">CONTRIBUTE TO A SPELL POST!</p>
        <form class="site-form" action="{% url 'spells:create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <p style="font-size: 5rem">
                {{ field.label_tag }}<br>
                <span style="font-size:0.2em;font-family: 'Harry Potter'">{{ field }}</span>
            </p>
        {% endfor %}

        <div id="wrapper" style="height:0.5px;width:0.5px"></div>
        <button class="why" type="submit"value="Create">Create</button>
    </form>
   </div>
    <script src="/static/js/slugify.js"></script>
{% endblock %}

